.table__wrapper {
  padding: 20px;
  background: #e5e5e5;
  margin: 20px;
  box-shadow: 0 3px 3px -2px rgba(0,0,0,0.2), 0 3px 4px 0 rgba(0,0,0,0.14), 0 1px 8px 0 rgba(0,0,0,0.12);
}
.table__wrapper:first-child {
  margin-top: 0;
}
.table__filter {
  padding: 10px 0;
}
.table__header {
  font-weight: bold;
  border-bottom: 2px solid black;
  background: grey;
}
.table__row {
  display: flex;
  border-bottom: 1px solid grey;
}
.table__body {

}
.table__id {
  padding: 5px;
  flex: 1 0 2%;
}
.table__completed,
.table__title {
  padding: 5px;
  flex: 1 0 48%;
  box-sizing: border-box;
}
.table__selected-row {
  display: flex;
  padding: 10px;
  border: 1px solid grey;
  margin-top: 10px;
}
.table__selected-label {
  margin-right: 10px;
}
.pagination__button-active {
  background: cornflowerblue;
}
.error {
  color: red;
  text-align: center;
}

.choose-data__wrapper {
  padding: 20px;
  margin: 0 20px;
  border: 1px solid grey;
}
.choose-data__button {
  margin-left: 20px;
}
.choose-data__button:first-child {
  margin-left: 0;
}
.pagination__button {
  margin-left: 5px;
  cursor: pointer;
}
.pagination__button-active {
  cursor: default;
}
.pagination__wrapper {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid grey;
  display: flex;
  justify-content: center;
}
.pagination__button:first-child {
  margin-left: 0;
}
.add-table__wrapper {
  padding: 20px;
  margin: 20px;
  box-shadow: 0 3px 3px -2px rgba(0,0,0,0.2), 0 3px 4px 0 rgba(0,0,0,0.14), 0 1px 8px 0 rgba(0,0,0,0.12);
}
.add-table__button {
  cursor: pointer;
}
.loading {
  margin: 20px;
  text-align: center;
}
